<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Edit Stock</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="success"
        (click)="onSubmit()"
        [strong]="true"
        [disabled]="data.invalid"
      >
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="data" (ngSubmit)="onSubmit()">
    <ion-card [disabled]="true">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            Producto
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <!-- Producto ya selecionado de solo lectura -->
          <ion-input formControlName="productoId" type="hidden"></ion-input>
          <ion-input required formControlName="nombre"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            Cantidad
            <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input
            required
            formControlName="cantidad"
            type="number"
            min="0"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
