<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Add Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form_nuevo_producto" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Nombre <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        type="text"
        formControlName="nombre"
        placeholder="Name of the product. Ex: Iphone 12"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Detalle <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea
        formControlName="detalle"
        rows="6"
        maxlength="200"
        placeholder="Enter the detail of the product here.. Ex: The product is a..."
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Precio <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input
        formControlName="precio"
        type="number"
        placeholder="Pice of the product. Ex: 1000"
        min="0"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Categoria <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select
        interface="action-sheet"
        placeholder="Select categoria"
        formControlName="categoriaId"
      >
        <ion-select-option
          *ngFor="let item of categorias$ | async"
          [value]="item.idcategoria | number"
        >
          {{ item.nombre | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      class="ion-margin-top"
      expand="block"
      color="primary"
      type="submit"
      [disabled]="form_nuevo_producto.invalid"
    >
      Crear Producto
    </ion-button>
  </form>
</ion-content>
