<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button fill="solid">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        {{ user.rolId | slice : 0 : 5 }}
      </ion-button>
    </ion-buttons>

    <ion-title> {{ user.nombre | titlecase }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let factura of facturas"
      [routerLink]="['/home/fac-detail', factura.id]"
    >
      <ion-avatar slot="start">
        <img [src]="factura.imageUrl" alt="{{ factura.cliente }}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ factura.cliente }}</h2>
        <p>{{ factura.fecha | date: 'dd/MM/yyyy' }}</p>
      </ion-label>
      <ion-note slot="end">{{ factura.total | currency: 'USD' }} USD</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="user.rolId === 'Administrador'"
  >
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" activated="true">
      <!-- Boton para facturas -->
      <ion-fab-button color="primary" [routerLink]="['/home/factura', 'nueva']">
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>

      <!-- Boton para clientes -->
      <ion-fab-button color="secondary" [routerLink]="['/usuarios']">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>

      <!-- Boton para productos -->
      <ion-fab-button color="success" [routerLink]="['/productos']">
        <ion-icon name="wine"></ion-icon>
      </ion-fab-button>

      <!-- Boton para categorias -->
      <ion-fab-button color="tertiary" [routerLink]="['/categorias']">
        <ion-icon name="wine-outline"></ion-icon>
      </ion-fab-button>

      <!-- Boton para stock -->
      <ion-fab-button color="warning" [routerLink]="['/stock']">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
