<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button fill="solid">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        {{ user.rolId | slice : 0 : 5 }}
      </ion-button>
    </ion-buttons>

    <ion-title> {{ user.nombre | titlecase }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios">
    <ion-item
      *ngFor="let factura of facturas$ | async"
      button
      (click)="onClickFactura(factura)"
    >
      <ion-avatar slot="start">
        <img src="http://placekitten.com/g/200/300" alt="1" />
      </ion-avatar>
      <ion-label>
        <h2>{{ factura.encabezado.Receptor.RznSocRecep | titlecase }}</h2>
        <p>CC: {{ factura.encabezado.Receptor.RUTRecep }}</p>
        <p>
          {{ factura.encabezado.Receptor.DirRecep }} - {{
          factura.encabezado.Receptor.CiudadRecep }}
        </p>
        <ion-badge color="success">
          {{ factura.estado | titlecase }}
        </ion-badge>
      </ion-label>
      <ion-note slot="end" color="primary">
        {{ factura.totales.MntTotal | currency }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="user.rolId === 'Administrador'"
  >
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" activated="true">
      <!-- Boton para facturas -->
      <ion-fab-button color="primary" [routerLink]="['/home/nueva-factura']">
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>

      <!-- Boton para clientes -->
      <ion-fab-button color="secondary" [routerLink]="['/usuarios']">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>

      <!-- Boton para productos -->
      <ion-fab-button color="success" [routerLink]="['/productos']">
        <ion-icon name="wine"></ion-icon>
      </ion-fab-button>

      <!-- Boton para categorias -->
      <ion-fab-button color="tertiary" [routerLink]="['/categorias']">
        <ion-icon name="wine-outline"></ion-icon>
      </ion-fab-button>

      <!-- Boton para stock -->
      <ion-fab-button color="warning" [routerLink]="['/stock']">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
