<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="save()"
        [strong]="true"
        type="submit"
        [disabled]="!dataItem.valid"
      >
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="dataItem">
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select
        placeholder="Select producto"
        formControlName="NmbItem"
        (ionChange)="onChange($event)"
      >
        <ion-select-option
          *ngFor="let item of stock$ | async"
          [value]="item.iditem"
        >
          {{ item.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="NmbItem !== 0">
      <ion-label position="floating">Descripcion Producto</ion-label>
      <ion-input type="text" formControlName="DscItem" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="NmbItem !== 0">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" formControlName="QtyItem" min="1"></ion-input>
    </ion-item>
  </form>
</ion-content>
